[Pinyin]
# 拼音输入法优先级，0为禁用
PinyinPriority=1
# 双拼输入法优先级，0为禁用
ShuangpinPriority=2
# 默认双拼方案
DefaultShuangpinSchema=自然码
# 使用完整拼音
UseCompletePinyin=False
# 自动组词
AutoCreatePhrase=True
# 保存自动词组
SaveAutoPhrase=False
# 快捷键: 添加常用字
AddFreqWordKey=CTRL_8
# 快捷键: 删除常用字
DeleteFreqWordKey=CTRL_7
# 快捷键: 删除用户词组
DeleteUserPhraseKey=CTRL_DELETE
# 快捷键: 以词定字
InputWordFromPhraseKey=[]
# 候选字顺序
BaseOrder=AdjustFreq
# 候选词顺序
PhraseOrder=AdjustFast
# 常用字顺序
FreqOrder=AdjustNo
# 模糊an和ang
FuzzyAnAng=False
# 模糊en和eng
FuzzyEnEng=False
# 模糊ian和iang
FuzzyIanIang=False
# 模糊in和ing
FuzzyInIng=False
# 模糊ou和u
FuzzyOuU=False
# 模糊uan和uang
FuzzyUanUang=False
# 模糊c和ch
FuzzyCCh=False
# 模糊f和h
FuzzyFH=False
# 模糊l和n
FuzzyLN=False
# 模糊s和sh
FuzzySSH=False
# 模糊z和zh
FuzzyZZH=False
# 修复拼音中ng和gn的输入错误
Misstype=False

